<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveNoteSevlet</servlet-name>
  	<display-name>SaveNoteSevlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveNoteSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSevlet</servlet-name>
  	<display-name>DeleteSevlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveNoteSevlet</servlet-name>
  	<url-pattern>/SaveNoteSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSevlet</servlet-name>
  	<url-pattern>/DeleteSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>
